[submodule ".vim/pack/git-plugins/start/tcomment_vim"]
	path = .vim/pack/git-plugins/start/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule ".vim/pack/git-plugins/start/ale"]
	path = .vim/pack/git-plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule ".vim/pack/git-plugins/start/vim-vue"]
	path = .vim/pack/git-plugins/start/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule ".vim/pack/git-plugins/start/nerdtree"]
	path = .vim/pack/git-plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
